.App {
  width: 100%;
  position: relative;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.headerDropDown {
  position: fixed;
  top: 55px;
  right: 20px;
  z-index: 1;
  border-radius: 5px;
  padding: 10px 5px;
  background-color: #d9d9d9;
}

.navDropDown {
  display: flex;
  flex-direction: column;
}

.navDropDown div {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #8ac8ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage,
.friendsPage {
  padding: 20px 10px;
}

.homeSidebar,
.friendsSidebar {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebarGrp {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.spinner {
  height: 50px;
  width: 50px;
  border: 6px solid rgba(76, 76, 76, 0.15);
  border-radius: 50%;
  border-top: 6px solid #8ac8ff;
  margin: 50px;
  align-self: center;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

input {
  height: 50px;
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
}

textarea {
  width: 100%;
  resize: none;
  border: none;
  border-radius: 5px;
  background-color: #d9d9d9;
  padding: 5px;
}

button {
  height: 40px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  background-color: #1877f2;
  padding: 0.6em 1.2em;
  cursor: pointer;
  display: grid;
  justify-items: center;
  align-items: center;
}

h2 {
  font-size: 1.375rem;
  padding: 15px 0px;
}

h3 {
  padding: 10px 0px;
}

p {
  padding: 5px 0px;
  word-break: break-all;
}

a {
  color: #1877f2;
  text-decoration: none;
  padding: 5px;
  word-break: break-all;
}

.navDropDown a {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 10px;
  align-items: center;
}

.sidebarGrp img,
.sidebarGrp p {
  pointer-events: none;
}

.navDropDown a:nth-child(1) img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.navDropDown img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.sidebarGrp img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

@media (max-width: 500px) {
  h2 {
    font-size: 1.25rem;
  }
}

button:hover {
  background-color: #3085f3;
}

.sidebarGrp:hover {
  background-color: #cccccc;
}

a:hover {
  text-decoration: underline;
}

input:focus {
  outline: 1px solid #60a2f6;
}

textarea:focus {
  outline: 1px solid #1877f2;
}
