#bioModal {
  width: 350px;
}

.bioModalHeader {
  padding: 10px 0px;
  display: flex;
}

.bioModalForm {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.bioModalFormGrp {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.bioModalFormGrp button {
  flex: 1;
  height: 40px;
  padding: 10px;
}

.addBioBtn {
  background-color: #00a400;
}

.bioModalFormGrp label {
  width: 100%;
  display: flex;
}

.addBioBtn:hover {
  background-color: #00be00;
}

@media (max-width: 500px) {
  #bioModal {
    width: 300px;
  }

  .bioModalHeader,
  .bioModalForm {
    padding: 5px 0px;
  }

  .bioModalFormGrp textarea {
    height: 80px;
  }
}
