.friendsPage {
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: minmax(250px, 400px) 1fr;
}

.friendsSidebar {
  width: 100%;
  position: fixed;
  top: 80px;
  left: 10px;
}

.friendsList {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.friendsPageMain {
  grid-column: 2 / 3;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.requestsSection,
.suggestionsSection {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.requestsContainer,
.suggestionsContainer {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  grid-auto-rows: 300px;
  gap: 10px;
}

.friendsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
  grid-auto-rows: 250px;
  gap: 15px;
}

.friendsContainer .friend {
  border-radius: 5px;
  background-color: white;
  display: grid;
  grid-template-rows: 2fr auto auto;
}

.userRequest {
  border-radius: 5px;
  background-color: white;
  display: grid;
  grid-template-rows: 2fr auto 1fr;
}

.userRequest > div {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.userRequest button {
  height: 40px;
}

.delReqBtn {
  color: black;
  background-color: #d9d9d9;
}

.userRequest a {
  padding: 10px;
}

.userRequest img {
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
  border-radius: 5px 5px 0px 0px;
  background-color: #cccccc;
  object-fit: cover;
}

.friendsContainer .friend img {
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
  border-radius: 5px 5px 0px 0px;
  background-color: grey;
  object-fit: cover;
}

.friendsSidebar .sidebarGrp:nth-child(2) img,
.friendsSidebar .sidebarGrp:nth-child(3) img {
  display: block;
  transform: scale(-1, 1);
}

@media (max-width: 1080px) {
  .friendsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .friendsPageMain {
    width: 100%;
  }

  .friendsSidebar {
    width: max-content;
    position: static;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 15px;
  }

  .friendsList {
    align-items: center;
  }

  .friendsPage .sidebarGrp {
    padding: 5px;
  }

  .friendsPage .sidebarGrp:nth-child(1) {
    display: none;
  }

  .requestsSection,
  .suggestionsSection {
    padding: 20px;
    align-items: center;
  }

  .requestsContainer,
  .suggestionsContainer,
  .friendsContainer {
    max-width: 650px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
    grid-auto-rows: 300px;
    justify-content: center;
    gap: 10px;
  }

  .emptyRequestsIndicator {
    display: flex;
    justify-content: center;
  }

  .sidebarGrp p {
    display: none;
  }
}

.delReqBtn:hover {
  background-color: #cccccc;
}
