.appHeader {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #f0f8ff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerNavOne {
  display: flex;
  gap: 10px;
}

.headerUserAccount {
  cursor: pointer;
}

.headerUserAccount > div {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #8ac8ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.siteBanner a {
  font-size: 2rem;
  font-weight: 700;
}

.headerNavOne a {
  border-radius: 5px;
  padding: 5px 15px;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 5px;
}

.headerNavOne img {
  height: 30px;
  width: 30px;
}

.headerUserAccount img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 500px) {
  .appHeader {
    padding: 10px 10px;
  }

  .headerUserAccount > div {
    height: 35px;
    width: 35px;
  }

  .siteBanner a {
    font-size: 1.25rem;
  }

  .headerNavOne a {
    padding: 5px 10px;
  }

  .headerNavOne img {
    height: 25px;
    width: 25px;
  }

  .headerUserAccount img {
    height: 35px;
    width: 35px;
  }
}

.headerUserAccount > div:hover {
  background-color: #a4d4ff;
}

.siteBanner a:hover {
  text-decoration: none;
}

.headerNavOne a:hover {
  background-color: #cccccc;
}
