.appHeader {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: aliceblue;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerNavOne {
  display: flex;
}

.headerUserAccount {
  cursor: pointer;
}

.headerUserAccount > div {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerNavOne a {
  border-radius: 5px;
  padding: 5px 15px;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 5px;
}

.headerNavOne img {
  height: 30px;
  width: 30px;
}

.headerUserAccount img {
  height: 30px;
  width: 30px;
}

.headerNavOne a:hover {
  background-color: gray;
}
