.loginPage {
  width: 100%;
  padding: 50px;
  gap: 20px;
}

.loginPage,
.loginWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.loginWrapper {
  border-radius: 10px;
  background-color: #d9d9d9;
  padding: 20px 5px;
}

.loginPage > div {
  position: relative;
}

.loginWrapper.loadingActive {
  opacity: 0.5;
  pointer-events: none;
}

.loginPage .spinner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-top: 6px solid #1877f2;
}

.loginForm {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loginFormGrp {
  padding: 5px 20px;
  display: flex;
}

.loginPage h1 {
  font-size: 2.5rem;
  color: #1877f2;
}

.loginFormGrp label,
.loginFormGrp input {
  width: 100%;
}

.loginBtn {
  margin: 10px 20px 0px 20px;
}

.loginFacebookBtn {
  margin: 0px 20px;
}

.loginDemoBtn {
  background-color: #00a400;
  margin-top: 15px;
}

.loginForm .errorMsg {
  padding: 0px 20px;
}

.loginDemoBtn:hover {
  background-color: #00be00;
}

@media (max-width: 500px) {
  .loginPage {
    transform: scale(0.8);
  }
}
