.postsContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.post {
  border-radius: 10px;
}

.post,
.postFooter,
.commentsSection {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.postHeader {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.postContent {
  min-height: 50px;
}

.postProfileContainer {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #8ac8ff;
}

.commentProfileContainer {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #8ac8ff;
}

.postImageContainer {
  max-height: 500px;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
}

.postFooter {
  border-radius: 20px;
  padding: 10px 20px;
}

.postFooterOne {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.postFooterOne > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.commentFormContainer,
.comment,
.commentUserWrapper {
  display: flex;
  gap: 10px;
}

.commentFormContainer {
  flex-direction: column;
}

.commentForm {
  width: 100%;
  position: relative;
  display: flex;
}

.commentsContainer,
.commentUserWrapper > div {
  display: flex;
  flex-direction: column;
}

.commentsContainer {
  gap: 10px;
}

.commentMain {
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 5px;
}

.commentForm label,
.commentForm input {
  width: 100%;
  border-radius: 10px;
  background-color: #f2f2f2;
}

.likeBtn,
.commentBtn {
  grid-template-columns: max-content 1fr;
  gap: 8px;
}

.submitCommentBtn {
  position: absolute;
  height: 25px;
  width: 25px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  background-color: #f2f2f2;
  padding: 0px;
}

.postDeleteBtn {
  height: 35px;
  width: 35px;
  border-radius: 50px;
  background-color: #f2f2f2;
  margin-left: auto;
  padding: 5px;
}

.post .spinner {
  height: 20px;
  width: 20px;
  border: 2px solid rgba(76, 76, 76, 0.15);
  border-top: 2px solid #8ac8ff;
  margin: 10px;
}

.postContent p {
  padding: 0px 20px;
}

.postUserWrapper p {
  font-size: 0.875rem;
  color: #595959;
  padding: 5px;
}

.comment p,
.comment a {
  padding: 2px 5px;
}

.commentUserWrapper p,
.commentUserWrapper a:nth-child(2) {
  font-size: 0.875rem;
  color: #595959;
}

.commentUserWrapper a:nth-child(2) {
  margin-left: auto;
}

.postHeader img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.comment img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.postImageContainer img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.likeBtn svg,
.commentBtn svg {
  height: 20px;
  width: 20px;
}

.postDeleteBtn svg {
  height: 20px;
  width: 20px;
  fill: black;
}

.submitCommentBtn svg {
  height: 15px;
  width: 15px;
  fill: black;
}

.postDeleteBtn:hover,
.submitCommentBtn:hover {
  background-color: #cccccc;
}

.likeBtn:hover,
.commentBtn:hover {
  background-color: #3085f3;
}

.commentDeletePara:hover {
  text-decoration: underline;
  cursor: pointer;
}
