.postsContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.post {
  border-radius: 10px;
}

.post,
.postFooter,
.commentsSection {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.postHeader {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.postContent {
  min-height: 50px;
}

.postProfileContainer {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: grey;
}

.commentProfileContainer {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: grey;
}

.postImageContainer {
  max-height: 500px;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
}

.postFooter {
  border-radius: 20px;
  padding: 10px 20px;
}

.postFooterOne {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.postFooterOne > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.commentFormContainer,
.comment,
.commentUserWrapper {
  display: flex;
  gap: 10px;
}

.commentForm {
  width: 100%;
  position: relative;
  display: flex;
}

.commentsContainer,
.commentUserWrapper > div {
  display: flex;
  flex-direction: column;
}

.commentsContainer {
  gap: 10px;
}

.commentMain {
  border-radius: 15px;
  background-color: aqua;
  padding: 5px;
}

.commentForm label,
.commentForm input {
  width: 100%;
}

.likeBtn,
.commentBtn {
  grid-template-columns: max-content 1fr;
  gap: 8px;
}

.submitCommentBtn {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 5px;
  bottom: 5px;
  background-color: white;
  padding: 0px;
}

.postDeleteBtn {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: gray;
  margin-left: auto;
  padding: 5px;
}

.postContent p {
  padding: 0px 20px;
}

.postUserWrapper p {
  padding: 5px;
}

.comment p,
.comment a {
  padding: 2px 5px;
}

.commentUserWrapper a:nth-child(2) {
  margin-left: auto;
}

.postHeader img,
.comment img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.postImageContainer img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.likeBtn svg,
.commentBtn svg {
  height: 20px;
  width: 20px;
}

.postDeleteBtn svg {
  height: 20px;
  width: 20px;
  fill: black;
}

.submitCommentBtn svg {
  height: 15px;
  width: 15px;
  fill: black;
}
