.profilePage {
  height: 100%;
  min-width: 320px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr minmax(320px, 1200px) 1fr;
  grid-template-rows: 200px 1fr;
  justify-items: center;
}

.profilePageHeader {
  grid-column: 2 / 3;
  width: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.profileMain {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  width: 100%;
}

.profileHeaderOne {
  display: flex;
  gap: 20px;
}

.profilePageHeader nav {
  display: flex;
  align-items: center;
}

.profilePhotoWrapper {
  position: relative;
  border-radius: 50%;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-items: center;
}

.profileNameWrapper {
  display: flex;
  flex-direction: column;
}

.profileMain section {
  flex: 1;
}

.profileHome {
  display: grid;
  grid-template-columns: minmax(400px, 1fr) 2fr;
}

.profileAbout,
.profileFriends {
  padding: 15px;
}

.profileAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileHomeFriends,
.profileHomePosts,
.profileHomeFriendsWrapper {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.profileHeaderFriends {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profileHome header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileHomeFriendsWrapper {
  flex: 1;
  padding: 0px;
}

.profileHomeFriends {
  width: 100%;
  max-height: 550px;
}

.profileHomeFriendsList {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  gap: 10px;
}

.profileHomeFriends .friend {
  border-radius: 5px;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr auto;
}

.profileHomePosts > div:nth-child(1) {
  height: 70px;
  padding: 10px 50px;
  display: flex;
  align-items: center;
}

.emptyFriendsIndicator {
  grid-column: 1 / 6;
}

.emptyFriendsIndicator,
.emptyPostsIndicator {
  display: flex;
  justify-content: center;
}

.changePhotoBtn {
  position: absolute;
  bottom: 10px;
  right: 0;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  background-color: gray;
  padding: 0px;
}

.bioOpenBtn {
  margin: 50px;
  grid-template-columns: max-content 1fr;
  gap: 8px;
}

.friend button {
  height: 40px;
  margin: 10px;
}

.profileNameWrapper h2 {
  margin-top: auto;
  padding: 5px 0px;
}

.friend p {
  padding: 10px;
}

.profileAbout p {
  max-width: 600px;
  text-align: center;
}

.friend a {
  margin: 0px 5px;
}

.profilePageHeader a {
  padding: 15px;
}

.profileHeaderOne img {
  height: 150px;
  width: 150px;
}

.friend img {
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
  background-color: grey;
  object-fit: cover;
}

.changePhotoBtn svg {
  height: 20px;
  width: 20px;
}

@media (max-width: 1080px) {
  .profilePageHeader {
    justify-items: center;
  }

  .profileHome {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profileHomePosts {
    width: 100%;
    max-width: 800px;
  }

  .profileHomeFriends {
    width: 100%;
    max-height: 750px;
    max-width: 560px;
  }

  .profileHomeFriendsList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 170px));
    grid-template-rows: 200px 200px 200px;
    gap: 10px;
  }
}

@media (max-width: 700px) {
  .profileHomeFriends {
    max-height: 610px;
    max-width: 450px;
  }

  .profileHomeFriendsList {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 140px));
    grid-template-rows: 170px 170px 170px;
    gap: 10px;
  }
}

@media (max-width: 500px) {
  .profileHomeFriends {
    max-height: 490px;
    max-width: 330px;
  }

  .profileHomeFriendsList {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 100px));
    grid-template-rows: 130px 130px 130px;
    gap: 10px;
  }
}
