.signUpPage {
  width: 100%;
  padding: 50px;
  gap: 20px;
}

.signUpPage,
.signUpWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.signUpWrapper {
  border-radius: 10px;
  background-color: #d9d9d9;
  padding: 20px 5px;
}

.signUpForm {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.signUpFormGrp {
  width: 100%;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
}

.signUpFormGrp > div {
  display: flex;
  gap: 15px;
}

.signUpPage h1 {
  font-size: 2.5rem;
  color: #1877f2;
}

.signUpFormGrp label,
.signUpFormGrp input {
  width: 100%;
}

.signUpForm .errorMsg {
  padding-top: 10px;
  padding-left: 0px;
}

.signUpBtn {
  width: 200px;
  background-color: #00a400;
  margin: 15px 20px 0px 20px;
}

.signUpBtn:hover {
  background-color: #00be00;
}

@media (max-width: 500px) {
  .signUpPage {
    transform: scale(0.7);
  }
}
